# App
PORT=YOUR_PORT
APP_NAME=NAME_APP

# Database
DB_HOST=YOURDB
DB_PORT=YOUR_DB_PORT
DB_USER=USERNAME
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# Student Info
STUDENT_NAME=YOUR_NAME
STUDENT_ID=YOUR_ID
STUDENT_CLASS=YOUR